.title{
    display: flex;
    justify-content: center;
}

.in-row{
    display: flex;
    direction: row;
    justify-content: space-between;
}
.hh{
    font-size:16px;
    margin-left:150px;
    font-weight: bolder;
}
.row-flex{
    display: flex;
    flex-direction:column;
    justify-content: right;
}

/* .margin-result{
    margin-bottom: 10%;
} */
:host ::ng-deep .mat-form-field-underline{
    width:0;
}

:host ::ng-deep .mat-form-field-wrapper{
    padding-left:17%;
}


:host ::ng-deep .white-fill.mat-form-field-appearance-fill .mat-form-field-flex{
    background-color: white;
}