.customer-form-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
    margin-top: 5px;
  }

  :host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.5em 0 0.5em 0 !important;
  }

  .mat-form-field {
    width: 100%;
  }

  .mat-dialog-container {
    overflow: hidden;
  }
  

