<app-tool-bar></app-tool-bar>
  <h1 mat-dialog-title >עריכת לקוח</h1>
  <div mat-dialog-content >
    <form>
      <div class="form-group">
        <label for="companyname">שם לקוח</label>
        <input type="text" name="companyname" class="form-control" id="companyname" required>
      </div>

      <div class="form-group">
        <label for="companyname">שם לקוח</label>
        <input type="text" name="companyname" class="form-control" id="companyname" required>
      </div>

      <div class="form-group">
        <label for="companyname">שם לקוח</label>
        <input type="text" name="companyname" class="form-control" id="companyname" required>
      </div>

      <div class="form-group">
        <label for="companyname">שם לקוח</label>
        <input type="text" name="companyname" class="form-control" id="companyname" required>
      </div>

      <button type="submit" class="btn btn-primary" style="margin: 5px;">שמור</button>
      <button type="button" class="btn btn-danger" mat-dialog-close>סגור</button>
    </form>
  </div>