 .customer-form-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
    margin-top: 5px;
  }

  :host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.5em 0 0.5em 0 !important;
  }



  .img-responsive {
    width: 100%;
    max-width: 150px;
    height: auto; 
  }

  .dialog-container {
    text-align: right;
  }

  .buttons{
    text-align: left;
  }

