.scroll-container {
    height: 300;
    overflow: auto;
    margin:10% 10% 10% 10%;
    
  }
  
table {
    width: 100%;
    direction: rtl;


}

th {

    text-align:center !important;
    color: black;
    
}


td {

    display: table-cell;
    vertical-align: initial;
    padding-top:15px !important;
    text-align:center !important;
}


