.scroll-container {
  max-height: 60vh;
  overflow: auto;
  width: 100%;
  max-width: 1000px;
  transition: top 0.3s;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

table {
  width: 100%;
  height: 100%;
  direction: rtl;
}

th {
  color: black;
  margin-right: 100px;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

td {
  display: table-cell;
  vertical-align: initial;
  padding-top: 15px !important;
  text-align: center !important;
}

table tr:hover {
  /* background-color: rgb(182, 199, 201) !important; */
  background-color: whitesmoke !important;
  color: #ffffff;
}

ng-container:hover {
  background-color: gray;
}
