.customers-navbar{
    display:flex;
    justify-content: center;
    width: 100%;  
    position: sticky;
    /* margin-top: 5px; */
  } 
  
.form-container{
    display: flex;
  } 

:host ::ng-deep .mat-form-field{
  direction: ltr;
  margin-left:8px;
  width:160px;
}

:host ::ng-deep .mat-form-field-label, .mat-select-value{text-align: right;} 

:host ::ng-deep .mat-option-text {margin-right: 10px;text-align: right; }

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix{
    padding: 0.3rem 0 0.3rem 0 !important;   
}

.buttonTooltipSubmitt {
  margin-top: 5px;
  text-align: center;
}

::ng-deep .mat-raised-button {
  padding: 0 10px !important;
  min-width: 10px;
  /* line-height: 48px; */
}
.mat-select {
  text-align: right !important;
} 

.toolbarButton{
  justify-content: center;
  height: 34px;
  outline: none;
}

.toolbarButton:hover{
  
}

.person_add-icon {
   margin-right: 10px;
   margin-top: 5px;
  /* line-height: 48px; */
}

.buttonTooltipSubmitt {
  display: inline;
}

:host ::ng-deep .mat-raised-button{
  padding: 0 10px !important;
  min-width: 10px;
  line-height: 48px;
}

@media only screen and (max-width: 600px) {

}
