.customers-navbar{
    display:flex;
    justify-content: center;
    width: 100%;  
    position: sticky;
  } 
  
.form-container{
    display: flex;
  } 

.filter-container .mat-form-field{
  direction: ltr !important;
  margin-left:8px !important;
  width:160px !important;
}

.toolbarButton.mat-raised-button, .person_add-icon .mat-raised-button{
  padding: 0 10px !important;
  min-width: 10px !important;
  line-height: 48px !important;
}

.mat-select {
  text-align: right !important;
} 

.toolbarButton{
  justify-content: center;
  height: 34px;
}

.toolbarButton:hover{
  border:2px solid gray;
}

.person_add-icon {
  height: 34px; 
  margin-right: 50px;
}

.buttonTooltipSubmitt {
  display: inline;
}

@media only screen and (max-width: 400px) {
  .form-container{
    width: min-content;
    margin-right: 3px;
    text-align: right;
  }
}

:host ::ng-deep .mat-form-field-label, .mat-select-value{text-align: right;} 

:host ::ng-deep .mat-option-text {margin-right: 10px;text-align: right; }

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix{
    padding: 0.3rem 0 0.3rem 0 !important;   
}
