<div class="customers-navbar" fxFlexFill>
  <form #f="ngForm" class="form-container">
    <div class="filter-container" >
      <mat-form-field appearance="outline">
        <mat-label>בחר חברה</mat-label>
        <mat-select matNativeControl name="companyNameSelectin" [(ngModel)]="selectedCustomer" class="customer">
          <mat-option value=null>הכל</mat-option>
          <mat-option *ngFor="let curcustomer of customers" [value]="curcustomer.customer.customerId">
            {{curcustomer.customer.companyName}} </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>בחר סטטוס</mat-label>
        <mat-select matNativeControl name="statusSelection" [(ngModel)]="selectedStatus" class="status">
          <mat-option value="null">הכל</mat-option>
          <mat-option [value]=statuses[1]>פעיל</mat-option>
          <mat-option [value]=statuses[2]>לא פעיל</mat-option>
          <!-- <mat-option *ngFor="let status of statuses" [value]="status.id">{{status.name}} </mat-option> -->
        </mat-select>
      </mat-form-field>


    </div>
    <div class="buttonTooltipSubmitt" matTooltip="יש למלא את כל השדות" [matTooltipDisabled]="f.valid">
      <button mat-raised-button class="toolbarButton" type="submit" [disabled]="!f.valid"
        (click)="onFilterSubmitted()">סנן</button>
    </div>

    <div class="person_add-icon">
      <button mat-raised-button (click)="openDialogForNew()" class="toolbarButton add-icon">
        <mat-icon>person_add</mat-icon>
      </button>
    </div>

  </form>
</div>