  .navbar {
    padding: 0;
  }

  .fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    /* flex: 1 1 auto;  */
    top:0;
    padding: 0;
  }

  .mat-menu-item {
    text-align: right;
  }

  .close-button {
    text-align: left;
  } 

  .app-side-nav  {
    height: 100%;
    overflow: hidden;
  }