.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.customerDetailsList {

}

.mat-card{
   width: 100%;
   text-align:center;
}

.mat-card-content {
    margin-right: 15px;
    text-align: right;
}

.profile-init {
    float: left;
    text-align: center;
    font: bold;
}

.icon-left {
    float: left;
}

.row{
    display: flex;
    text-align: right;
    padding: 0;
    margin: 0;
}
.col {
    margin-right: 10px;
}

.header-customer-data {
  float: right;
  overflow: hidden;
}

.table-init-info {
  float: left;
}

@media only screen and (max-width: 600px) {
    .img-responsive {
      width:50px;
      height: 50px;
    }
    .table-init-info {
      margin-left: 20%;
    }
  }

  .img-responsive-table {
      width: 100px;
      height: 100px;
      margin-top: 15px;
      
  }

  .table-element-detail {
    overflow: hidden;
    display: flex;
    border: 2px solid red;
  }

  .table-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }

  .profile-init-table {
    float: right;
    text-align: center;
}



  