<div fxLayout="row" style="max-height: 100%;">
    <div class="sidebar-container sidebar" fxFlex="20%" fxFill="100">
        <div class="sidebar" (click)="routeSidebar($event)">
            <a routerLinkActive="active" routerLink="/reports">מסך ניהולי</a>
            <a routerLinkActive="active" routerLink="/monthlyreport">הזנת דיווח חודשי ללקוח</a>
            <a>מסך ניתוח ללקוח</a>
            <a routerLinkActive="active" routerLink="/customerdetails">תחזוקת נתוני הלקוח</a>
        </div>
    </div>
    <div fxLayout="column" fxFlex="80%" style="max-height: 100%;">
            <!-- <app-tool-bar></app-tool-bar> -->
            <router-outlet></router-outlet>
    </div>
</div>
