.navbar{
  width: 100%;
  display: flex;
  justify-content: center;
  position: sticky;
} 
.navbar .mat-form-field + .mat-form-field  {
  margin-left: 8px;
}

 .mat-select-container {
  display: inline;
  justify-content: space-between;

}

.mat-form-field{
  direction: ltr;
}
::ng-deep .mat-form-field-label, .mat-select-value{text-align: right;}
::ng-deep .mat-option { direction: rtl;text-align: left; }
::ng-deep .mat-option-text {margin-right: 10px;text-align: right; }


.buttonTooltipSubmitt {
display: inline;
}

 .mat-select {
  text-align: right !important;
} 

