.row{
    margin:0;
    text-align: center;
}

.c-row{
    display: flex;
    flex-direction:row;
    justify-content: center;
} 

.title{
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin: 3px;
}

.primaryTitle {
    background-color: rgb(192, 216, 216);
}

.hh {
    font-weight: bold;
    /* text-align: center; */
    margin-right: 20px;
}

.mat-form-field-appearance-outline {
    width: 220px;
    height: 50px;
    line-height: 1.725;
    margin: 8px;
    text-align: right;
}

:host ::ng-deep .unedited.mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: rgba(238, 238, 238, 0.993) !important;
}

:host::ng-deep .whiteSpace.mat-form-field-appearance-outline .mat-form-field-outline {
    color: white !important;
}

:host ::ng-deep .mat-form-field-infix {
    padding: 6px 0 3px 0;
    margin-left: 4px;
    font-size: 18px;
}

:host ::ng-deep .mat-form-field-hide-placeholder .mat-form-field-label-wrapper {
    top: -25px !important;
}

.mat-form-field-should-float {
    text-align: right !important;
 } 

.saveButton {
     width: 150px;
     background-color:#3f51b5;
     direction: ltr;
     margin-left: 0;
     display: initial;
     color: white;
 }

.button-row {
     direction: ltr;
     margin: 10px;
 }