.report-container{
    /* margin:1% 5% 0 5%; */
    overflow-y: auto;
    max-height:550px;
    width: 100%;


}

.row{
    margin:0;
}

.customer-data{
    margin-top: 2%;
}

.newSection {
    margin: 1%; 
    margin-top: 2%; 
   
}
.card-title {
    text-align: right;
}
.c-row{
    display: flex;
    flex-direction:row;
    justify-content: center;
}

.border-title{
    font-weight: bold;
}

.res{
    margin-right:1%;
}

:host ::ng-deep .mat-form-field{
    direction: ltr;  
}

.status{
    align-items: right;
}

.panel-title{
    display: flex;
    flex-grow: 0 !important;
}